/* :root {
    --primary-color:  rgb(255, 255, 255);
    --secondary-color:  rgb(255, 255, 255);
    --header-color: rgb(255, 255, 255);
} */


/* non funziona, bisogna allungare la maledetta barra */
.cerca {
    width: 100%;
}

nav {
    height: 75px;
}


main {
    display: flex;
}


.sidebar {
    width: 80px;
    height: calc(100vh - 75px);
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    color: white;
}


.layout {
    display: flex;
    background-color: greys;
}



section {
    width: calc(100% - 80px)
}


.head-section {
    background-color: #1b72e8;
    color: white;
}


.core {
    border: solid 3px red;
}

.img-code {
    width: 25px;
    height: 25px;
}