/* :root {
    --primary-color:  rgb(255, 255, 255);
    --secondary-color:  rgb(255, 255, 255);
    --header-color: rgb(255, 255, 255);
} */


/* non funziona */
.cerca {
    width: 100%;
}


/* .layout {
    display: flex;
    background-color: red;
} */

.sidebar {
    width: 80px;
    height: 100%;
    background-color: darkblue;
    color: white;

    border: 2px solid red;
}