/* :root {
    --primary-color:  rgb(255, 255, 255);
    --secondary-color:  rgb(255, 255, 255);
    --header-color: rgb(255, 255, 255);
} */


/* non funziona */
.cerca {
    width: 100%;
}

nav {
    height: 60px;
}


main {
    display: flex;
}


.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;
    background-color: darkblue;
    color: white;

    /* da aggiustare altezza probabilmente sottraendo altezza navbar */
    height: calc(100vh - 60px);
}


.layout {
    display: flex;
    background-color: greys;
}